Additional_Conwy_Rain.csv
Additional_Conwy_River_Level_Data.csv
CombinedData.csv
Conwy Head.txt
Conwy_Rain.csv
Conwy_River_Levels.csv
Website Rain Conwy.txt
Spare/
Additional_Conwy_Rain_Old.csv
Cheat.txt
__pycache__/
testing combined data.txt